.container {
    padding-top: 3rem;
    padding-bottom: 5rem;

    nav {
        display: flex;
        align-items: center;
        padding: 0 3rem;

        .logo {
            display: flex;
            align-items: center;
            
            img {
                width: 2rem;
                height: 2rem;
            }
            
            span {
                color: var(--title);
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                margin-left: .5rem;
            }
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: auto;

            li {
                color: var(--title);
                font-weight: 600;
                margin-left: 2.5rem; 

                &:first-child {
                    color: var(--first-color);

                    &::after {
                        content: '';
                        width: 60%;
                        border-bottom: 2px solid var(--first-color);
                        display: block;
                    }
                }
            }
        }
    }

    .banner {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
        padding: 0 3rem;

        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 1.2rem;

            .text {
                transform: rotate(90deg);
                margin-top: 3rem;
                width: 100px;

                span {
                    color: var(--title);
                    font-weight: 600;
                    text-align: center;
                }
            }

            .line {
                background-color: var(--title);
                width: .1rem;
                height: 2rem;
                margin: 1.5rem 0 1rem 0;
            }

            .socialIcons {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .homeImg {
            width: 18.5rem;
            height: 18.5rem;
            margin-left: 3rem;
        }

        .textArea {
            width: 55%;
            margin-left: auto;

            h1 {
                font-size: 2rem;
            }

            p {
                color: var(--text-light);
                font-size: 1.1rem;
                margin-top: 1rem;
            }

            .button {
                background-color: var(--first-color);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 9rem;
                height: 3.5rem;
                border-radius: .7rem;
                margin-top: 1.5rem;

                span {
                    color: var(--container);
                    font-size: 1.1rem;
                    margin-right: .5rem;
                }
            }
        }
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 6rem;
        padding: 0 3rem;

        .textArea {
            width: 50%;

            h1 {
                font-size: 2rem;
            }

            p {
                color: var(--text-light);
                font-size: 1.1rem;
                margin-top: .5rem;
            }

            .checkArea {
                .checkItem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 1rem;

                    div {
                        background-color: var(--first-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        border-radius: .5rem;
                    }

                    span {
                        font-weight: 600;
                        margin-left: 1rem;
                    }
                }
            }

            .shopButton {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1.5rem;

                span {
                    font-weight: 600;
                    font-size: 1.3rem;
                    margin-right: .5rem;
                }
            }
        }

        img {
            width: 28rem;
            height: 28rem;
        }
    }

    .products {
        margin-top: 6rem;
        padding: 0 3rem;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                text-align: center;
                width: 70%;
                font-size: 2rem;
            }

            p {
                color: var(--text-light);
                text-align: center;
                width: 60%;
                margin-top: 1rem;
            }
        }

        .productsArea {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 1rem;
            
            .productItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;

                .topInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .backgroundBall {
                        background-color: var(--first-color-lighter);
                        position: absolute;
                        width: 9rem;
                        height: 9rem;
                        border-radius: 4.5rem;
                    }
        
                    img {
                        z-index: 999;
                        position: relative;
                        left: 2rem;
                        max-width: 14rem;
                        max-height: 14rem;
                    }
                }

                .bottomFooter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;

                    .bottomFooterColumn {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .productName {
                            color: var(--title);
                            font-weight: 600;
                            font-size: 1.2rem;
                        }

                        .price {
                            color: var(--first-color);
                            font-weight: 600;
                            font-size: 1.2rem;
                        }
                    }

                    .bagButton {
                        background-color: var(--first-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: .4rem;
                        margin-left: 3rem;
                    }
                }
            }
        }
    }

    .steps {
        display: flex;
        margin-top: 6rem;
        padding: 0 3rem;

        .innerDiv {
            background-color: var(--first-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 1rem;
            padding: 2rem 0;

            h2 {
                color: var(--container);
                text-align: center;
                font-size: 2rem;
                width: 50%;
            }

            .inlineSteps {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-top: 2rem;

                .step {
                    background-color: var(--container);
                    width: 28%;
                    border-radius: 1rem;
                    padding: 1rem 1.5rem;
                    
                    .numberOfStepDiv {
                        background-color: var(--first-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        height: 3rem;
                        border-radius: .5rem;

                        span {
                            color: var(--container);
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                    }

                    h3 {
                        margin-top: .7rem;
                    }

                    p {
                        color: var(--text-light);
                        font-size: 1.2rem;
                        margin-top: .7rem;
                    }
                }
            }
        }
    }

    .faqs {
        background-color: var(--first-color-lighter);
        width: 100%;
        margin-top: 6rem;
        padding: 3rem;

        h2 {
            font-size: 2.5rem;
            width: 60%;
        }

        .gridFaqs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            margin-top: 2rem;

            .faq {
                background-color: var(--container);
                display: flex;
                align-items: center;
                height: 4.5rem;
                border-radius: .5rem;
                padding-left: 1rem;

                span {
                    font-weight: 600;
                    font-size: 1.2rem;
                    margin-left: 1rem;
                }
            }
        }

    }

    .contact {
        margin-top: 6rem;
        padding: 0 3rem;

        .header {
            display: flex;
            align-items: center;

            .headerLeft {
                width: 50%;

                h1 {
                    font-size: 2.2rem;
                }

                .contactInfo {
                    margin-top: 2rem;

                    span {
                        font-size: 1.3rem;
                    }

                    .inlineContactInfo {
                        display: flex;
                        align-items: center;
                        margin-top: .5rem;

                        span {
                            color: var(--text);
                            font-weight: 600;
                            margin-left: 1rem;
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 4rem;
                width: 50%;

                .inputDiv {
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;

                    label {
                        color: var(--text-light);
                    }

                    input {
                        font-weight: 600;
                    }
                    
                    input, textarea {
                        outline: 0;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom: 1px solid var(--text-light);
                        width: 100%;
                        margin-top: .3rem;
                        padding-bottom: .3rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}