.container {
    padding: 3rem 5rem;

    nav {
        display: flex;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            
            img {
                width: 2rem;
                height: 2rem;
            }
            
            span {
                color: var(--title);
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                margin-left: .5rem;
            }
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: auto;

            li {
                color: var(--title);
                font-weight: 600;
                margin-left: 2.5rem; 

                &:first-child {
                    color: var(--first-color);

                    &::after {
                        content: '';
                        width: 60%;
                        border-bottom: 2px solid var(--first-color);
                        display: block;
                    }
                }
            }
        }
    }

    .banner {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 4rem;

        .social {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 1.2rem;

            .text {
                transform: rotate(90deg);
                margin-top: 3rem;
                width: 100px;

                span {
                    color: var(--title);
                    font-weight: 600;
                    text-align: center;
                }
            }

            .line {
                background-color: var(--title);
                width: .1rem;
                height: 2rem;
                margin: 1.5rem 0 1rem 0;
            }

            .socialIcons {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .homeImg {
            width: 18.5rem;
            height: 18.5rem;
            margin-left: 3rem;
        }

        .textArea {
            width: 55%;
            margin-left: auto;

            h1 {
                font-size: 2rem;
            }

            p {
                color: var(--text-light);
                font-size: 1.1rem;
                margin-top: 1rem;
            }

            .button {
                background-color: var(--first-color);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 9rem;
                height: 3.5rem;
                border-radius: .7rem;
                margin-top: 1.5rem;

                span {
                    color: var(--container);
                    font-size: 1.1rem;
                    margin-right: .5rem;
                }
            }
        }
    }
}